/** #d85e3b, #333333, #565455, #f2f8f6, #fdf1d7, #e0e0e0, #dbdbdb, #4d4d4d**/

/* Font Family- Helvetica*/
@font-face {
    font-family: Helvitica, Monospace;
}
html,
body,
header {
    height: 100%;
    margin: 0;
    padding: 0;
}
.section-header-text {
    padding: 30px;
    text-align: center;
}
.header-text-bold{
    font-size: 32px;
}

.text-border {
    display: block;
    width: 100px;
    height: 3px;
    background: #d85e3b;
    margin: 10px auto;
}

.clearfix {
    clear: both;
}

.career-button {
    background-color: #d85e3b;
    border: 2px solid #d85e3b;
    font-weight: bold;
    border-radius: 0;
    color: #f2f8f6;
}

.career-button:hover {
    background-color: transparent;
    border: 2px solid #d85e3b;
    color: #d85e3b;
}


/***********************************
            Header CSS
***********************************/

.header {
    background: url('../images/Landing_Hero_Image.jpg') fixed no-repeat center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.navbar-header {
    width: 20%;
}

.navigation {
    margin: 20px;
    display: inline-block;
}

.logo-image {
    width: 50%;
    float: left;
}

.logo-side-text>p {
    margin-left: 20px;
}

.header-image {
    margin: 140px 0;
}

.header-content-box {
    background-color: #fff;
    opacity: 0.75;
    padding: 20px;
    max-width: 473px;
    text-align: left;
}
.header-text{
    font-size: 36px;
    font-weight: bold;
}
.header-subtext{
    font-size: 24px;
}

.register-now-button>.career-button {
    margin: 15px;
    font-size: 24px;
    font-weight: normal;
    background-color: #d85e3b;
    border: 2px solid #d85e3b;
    border-radius: 0;
    color: #f2f8f6; 
}
.navbar a {
    font-weight: bold;
    color: #4d4d4d;
}

.navbar .navbar-nav>li a:focus,
.navbar .navbar-nav>li a:hover,
.navbar .navbar-nav>li a:active {
    background-color: transparent;
    border-bottom: 3px solid #d85e3b;
}

.navbar-fixed-top .navbar-collapse {
    margin: 10px;
}
a.navbar-brand{
    font-weight: normal;
}
/*******************************
        About Us CSS
********************************/

.about-us-container {
    background-color: #f2f8f6;
    padding: 20px;
}

.about-us-icons {
    margin: auto;
    width: 80%;
    text-align: center;
}

.about-us-box {
    border-right: 2px solid #e0e0e0;
}
.about-us-box:nth-child(3){
    border: none;
}
.about-us-image {
    margin: auto;
    width: 20%;
}
.about-us-text{
    color: #d85e3b;
    font-size: 24px;
    font-weight: bold;
}
.text-number{
    font-weight: bold;
}

/********************************
        Success Stories CSS
********************************/

.success-stories-container {
    background-color: #e0e0e0;
}

.success-stories-image {
    padding: 50px;
}





/***************************
        News CSS
***************************/

.news-container {
    background-color: #f2f8f6;
}

.news-image-box {
    box-shadow: 1px 1px 12px rgba(0,0,0,0.5);
    margin: 5px;
    text-align: center;
    width: 100px;
}





/***************************
        Client CSS
***************************/

.logo-filter {
    filter: grayscale(100%);
}
.logo-box{
    position: absolute;
    margin: auto;
    width: 300px;
    height:  300px;
}
.client-logo {
    margin: auto;
    width: 60%;
}

.clients-container {
    background-color: #dbdbdb;
}

.client-icon-container {
    margin: auto;
    width: 80%;
}




/***************************
        Testimonial CSS
***************************/

.testimonials-box {
    background-color: #fff;
    opacity: 0.8;
    margin: 45px;
    padding: 20px;
}

.testimonial-container {
    margin: auto;
    width: 80%;
}



/***************************
        Contact Us CSS
***************************/

.contact-us-container {
    background-color: #f2f8f6;
    padding: 20px;
}

.form-container {
    background-color: #e0e0e0;
    margin: auto;
    padding: 50px;
    width: 40%;
}
.form-container legend{
    text-align: center;
}
.career-button-contact{
    background-color: #d85e3b;
    border: 2px solid #d85e3b;
    color: #f2f8f6;
}
.career-button-contact:hover{
    background-color: transparent;
    border: 2px solid #d85e3b;
    color: #d85e3b;
}
/***************************
        Footer CSS
***************************/
.social-media-links > .fa-stack{
    margin-left: 10px;
}
.footer {
    background-color: #333333;
    margin: 0;
    text-align: center;
}
.footer-content {
    padding: 30px;
    margin: auto;
    width: 80%;
}
.footer-text {
    color: #fff;
    opacity: 0.70;
}
.footer-links > ul li{
    display: inline;
    margin: 10px;
}
.footer-links > ul li a{
    color: white;
}
.footer-links > ul li a:hover,
.footer-links > ul li a:active,
.footer-links > ul li a:focus
{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}


/*****************************
        Media Queries
*****************************/

@media (max-width: 768px) {



/* Contact Us Form*/
    .form-container{
        width: 60%;
    }
/*Contact Us Form Ends*/
    .footer-links > ul{
        padding: 0;
    }
}

@media (max-width: 384px) {
/*About Us*/
.about-us-box{
    border: none;
    margin-bottom: 30px;
}

/* Contact Us Form*/
    .form-container{
        width: 90%;
    }
}